p {
    width: 100px;
    height: 100px;
    background-color: #e1ddda;
    margin: 20px;
    display: inline-block;
}

p.one {
    -webkit-box-shadow: -5px -5px #777777;
       -moz-box-shadow: -5px -5px #777777;
            box-shadow: -5px -5px #777777;
}

p.two {
    -webkit-box-shadow: 5px 5px 5px #777777;
       -moz-box-shadow: 5px 5px 5px #777777;
            box-shadow: 5px 5px 5px #777777;
}

p.three {
    -webkit-box-shadow: 5px 5px 5px 5px #777777;
       -moz-box-shadow: 5px 5px 5px 5px #777777;
            box-shadow: 5px 5px 5px 5px #777777;
}

p.four {
    -webkit-box-shadow: 0px 0px 10px #777777;
       -moz-box-shadow: 0px 0px 10px #777777;
            box-shadow: 0px 0px 10px #777777;
}

p.five {
    -webkit-box-shadow: inset 0px 0px 10px #777777;
       -moz-box-shadow: inset 0px 0px 10px #777777;
            box-shadow: inset 0px 0px 10px #777777;
}
