body {
    width: 960px;
    margin: 0 auto;
    font-family: Arial, Verdana, sans-serif;
    color: #665544;
    text-align: center;
}

#nav, #feature, #footer {
    background-color: #efefef;
    padding: 10px;
    margin: 10px;
}

li {
    display: inline;
    padding: 5px;
}

.article_column1, .article_column2, .article_column3 {
    background-color: #efefef;
    width: 300px;
    float: left;
    margin: 10px;
}

#content {
    overflow: auto;
    height: 100%;
}
